<div class="container-lg text-white d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container">
    <h2 class="my-2">Don't know what you want?</h2>
    <a class="btn btn-success my-4" href="../random">Click me for a RANDOM drink</a>
    <h4 class="">Or browse drinks below:</h4>
  </div>
  <div class="hero-container">
    <p>
    ${alphabet.map(letter => `<a href="../explore/${letter.toLowerCase()}"
    class="text-white">${letter}</a>`).join(" ")}
    </p>
  </div>
  <div class="list-group ">
    ${!!exploreData.drinks ? exploreData.drinks.map(drink => `
    <a href="../drink/${drink.idDrink}" class="list-group-item
    list-group-item-action d-flex align-items-center justify-content-start partial-bg">
      <img class="img-thumbnail mx-2" src="${drink.strDrinkThumb}"/>
      <h4>${drink.strDrink}</h4>
    </a>
    `).join(' ') : ``}
  </div>


</div>