<div class="jumbotron text-center mx-auto lg-container no-bg">
  <div class="mb-5">
    <h1 class="text-white">HoldMyLiquor</h1>
    <p class="lead text-white">This site is our first fullstack project, with
    fully realized front and backend
    elements. Click the link below to look at the code on GitHub or clone it to
    replicate on your local machine!</p>
    <a href="https://github.com/allybrannon/HoldMyLiquor" class="btn
    btn-success">Project Repository on GitHub</a>
  </div>
  <h4 class="text-white mb-4">More about the authors:</h4>
  <div class="card-container">
    <div class="card">
      <img
      src="https://avatars0.githubusercontent.com/u/58038239?s=460&u=e9aec50d87b13fb0273812255fbe488c301c76cd&v=4"
      class="card-img-top" alt="Profile Image">
      <div class="card-body text-center">
        <h4 class="card-title mb-4">Ally Brannon</h4>
        <a href="https://github.com/allybrannon" class="btn btn-success">GitHub</a>
        <a href="https://www.linkedin.com/in/allybrannon/" class="btn btn-secondary">LinkedIn</a>
      </div>
    </div>
    <div class="card">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQGqlNXfS10-9A/profile-displayphoto-shrink_200_200/0?e=1589414400&v=beta&t=4CLo_RZBrYBybS5fNEnKzGjlBL-jOGNvkTpCM-34IOs" class="card-img-top" alt="Profile Image">
      <div class="card-body text-center">
        <h4 class="card-title mb-4">Victor Gamble</h4>
        <a href="https://github.com/VictorGamble" class="btn btn-success">GitHub</a>
        <a href="https://www.linkedin.com/in/victorgamblejr/" class="btn btn-secondary">LinkedIn</a>
      </div>
    </div>
    <div class="card">
      <img
      src="https://avatars2.githubusercontent.com/u/39736230?s=460&u=4782f77b8eb8704e299b05cc48c8847fcb51d06b&v=4"
      class="card-img img-fluid" alt="Profile Image">
      <div class="card-body text-center">
        <h4 class="card-title mb-4">Karley Petracca</h4>
        <a href="https://github.com/karleypetracca" class="btn btn-success">GitHub</a>
        <a href="https://www.linkedin.com/in/karleypetracca/" class="btn btn-secondary">LinkedIn</a>
      </div>
    </div>
  </div>
</div>