<div class="container-lg text-white">
  <form action="/user/signup" method="POST">
    <label
      >First Name
      <input type="text" name="first_name" />
    </label>
    <label>
      Last Name
      <input type="text" name="last_name" />
    </label>
    <label
      >User Name
      <input type="text" name="user_name" />
    </label>
    <label
      >Password
      <input type="password" name="password" />
    </label>
    <button type="submit">Register</button>
  </form>

  <a href="/">Return to Homepage</a>
  <br />
  <a href="/user/login">Login</a>
</div>
