<div class="container-lg">
  <div class="container">
    <h2>${drinkData.strDrink}</h2>
    <p>Tags:
        <span class="badge badge-secondary">${drinkData.strIBA}</span>
        <span class="badge badge-secondary">${drinkData.strAlcoholic}</span>
    </p>
    <div class="img-container">
        <image class="img-fluid" src="${drinkData.strDrinkThumb}"/>
        </div>
    <hr />
    <h3>Ingredients</h3>
    <ul>
      ${ingredientData.map( ingredient => `${!!ingredient ? `
      <li>${ingredient}` : ``}
        ${!!measureData[ingredientData.indexOf(ingredient)] ?
        `- ${measureData[ingredientData.indexOf(ingredient)]}</li>` : `</li>` }`).join("")}
    </ul>
    <hr>
    <h3>Instructions</h3>
    <p><em>Recommended: serve in a ${drinkData.strGlass}</em></p>
    <p>${drinkData.strInstructions}</p>
  </div>
</div>
