<div class="container-lg">
  <div class="hero-container">
    <img
      class="img-container"
      src="/images/cocktails-lineup-green-shade4.png"
    />
    <h1 class="text-white">
      HoldMyLiquor
    </h1>
    ${!!sessionData.is_logged_in ? `
    <h2 class="text-white">Welcome back, ${sessionData.user_name}!</h2>
    `: `` }
  </div>
  <div class="hero-container">
    <div class="hero-container text-white">
      <h4 class="d-flex justify-content-center flex-wrap align-items-center">
        <a class="text-white action-hover-link mx-4" href="/explore">Explore</a>
        <p class="my-4"></p>
        <a class="text-white action-hover-link mx-4" href="/random">Random</a>
        <p class="my-4"></p>
        <a class="text-white action-hover-link mx-4" href="/about">About</a>
      </h4>
    </div>
  </div>
  <div class="hero-container">
    ${!!sessionData.is_logged_in ? `
    <h2 class="text-white">Here are some of your favorite drinks!:</h2>
    <div class="list-group">
      ${favoriteData.map(drink =>`
        <a href="/drink/${drink.idDrink}" class="list-group-item
                list-group-item-action d-flex align-items-center justify-content-start">
          <img class="img-thumbnail" src="${drink.strDrinkThumb}" />
          <h5 class="ml-2">${drink.strDrink}</h5>
        </a>
      `).join('')}
    </div>
    `: `` }
  </div>
</div>
