<h2 class="text-white">${drinkData.strDrink}</h2>
<p class="text-white">Tags:
    <span class="badge badge-secondary">${drinkData.strIBA}</span>
    <span class="badge badge-secondary">${drinkData.strAlcoholic}</span>
</p>
<div class="container-lg drink-info">
    <div class="drink-container">
        <image class="img-fluid" src="${drinkData.strDrinkThumb}" />
    </div>
    <div class="drink-container">
        <h3>Ingredients</h3>
        <ul>
            ${ingredientData.map( ingredient => `${!!ingredient ? `
            <li>${ingredient}` : ``}
                ${!!measureData[ingredientData.indexOf(ingredient)] ?
                `- ${measureData[ingredientData.indexOf(ingredient)]}</li>` : `</li>` }`).join("")}
        </ul>
        <hr>
        <h3>Instructions</h3>
        <p><em>Recommended: serve in a ${drinkData.strGlass}</em></p>
        <p>${drinkData.strInstructions}</p>
    </div>
</div>

<div class="container-lg text-white">
  ${!!sessionData.is_logged_in ? `
      <h2>Leave your comments and drink rating:</h2>
      <form action="/" method="POST">
        <input type="hidden" name="drink_id" value ="${drinkData.idDrink}"/>
        <label
          >Title
          <input type="text" name="comment_title" placeholder="Comment Title" />
        </label>
        <label
          >My Comments:
          <textarea
            name="comment_review"
            placeholder="My review of this drink..."
          ></textarea>
        </label>
      </br>
        <p>Rate this drink(1= Bad, 5= Great)</p>
        <label>
          <input type="radio" value=1 name="rating"/> 1
        </label>
        <label>
          <input type="radio" value=2 name="rating"/> 2
        </label>
        <label>
          <input type="radio" value=3 name="rating"/> 3
        </label>
        <label>
          <input type="radio" value=4 name="rating"/> 4
        </label>
        <label>
          <input type="radio" value=5 name="rating"/> 5 
        </label>
        <p><button type="submit">Save</button></p>
      </form>
      ` : `<h4>Please login to submit comments and ratings</h4>
          ` }
    </div>

<div class="container-lg text-white">
      ${getComments.map(comment => { return `
        <h2>User Comments</h2>
        <h3>Comment Title: ${comment.title}</h3>
        <p>Review: ${comment.review}</p>
        <p>User Rating: ${comment.rating}</p>
        <p>User Name: ${comment.user_name}</p>
        
        ` }).join('')}
</div>