body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background: url("/images/party-glasses-green.png") no-repeat top left fixed;
  background: cover;
}

a {
  color: rgb(0, 183, 255);
  text-decoration: underline;
}

hr {
  display: flex;
  border-width: 5px;
  margin-left: 5px;
  width: 30%;
  flex-direction: row;
}

.background-white {
  background-color: rgb(255, 255, 255);
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex !important;
  align-items: center;
}

.navbar-img {
  height: 40px;
  padding-right: 5px;
}

.main {
  padding-top: 75px;
}

.action-hover-link {
  padding: 3px 5px;
  line-height: 1.5;
}

.action-hover-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 1.05em;
  text-decoration: none;
}

.container-lg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.drink-container {
  min-width: 300px;
  width: 40%;
  max-width: 500px;
  padding: 8px;
}

.img-container {
  width: 100%;
  max-width: 500px;
  padding: 8px;
}

.img-fluid {
  border-radius: 6px;
}

.drink-info {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.stars {
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  float: right;
  padding: 5px;
  font-size: 36px;
  color: rgb(82, 79, 79);
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #fd4;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: "\f006";
  font-family: FontAwesome;
}

.user-comment {
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 250px;
  margin-bottom: 20px;
}

.list-group {
  width: 100%;
  max-width: 500px;
}

.list-group-item {
  width: 70%;
  padding: 10px !important;
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  min-width: 300px;
  max-width: 500px;
}

.img-thumbnail {
  min-width: 90px;
  width: 90px;
}

.profile {
  text-align: center;
  font-size: 1.5em;
  list-style: inside;
}

.no-bg {
  background-color: rgba(255, 255, 255, 0) !important;
}

.partial-bg {
  background: rgba(255, 255, 255, 0.8) !important;
}